.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.env
*.vsidx
*.cache
.firebase/hosting.ZGlzdFxzcGE.cache
.firebase/hosting.ZGlzdFxzcGE.cache
.vs/slnx.sqlite
.vs/Dividis-vue3-quasar-vite-firebase/copilot-chat/fcf8d0bc/sessions/3f27fab6-edb1-45f4-b918-83db59aa08c2
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/Dividis-vue3-quasar-vite-firebase/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/Dividis-vue3-quasar-vite-firebase/FileContentIndex/6f57cd69-1ec3-44ea-9589-b2635c619aa7.vsidx
.vs/Dividis-vue3-quasar-vite-firebase/FileContentIndex/630fb69a-7b23-44ac-a7b3-b48837fe75d6.vsidx
.vs/Dividis-vue3-quasar-vite-firebase/FileContentIndex/adbf84f5-c95a-41c6-98cc-fa82f75e53f1.vsidx
.vs/Dividis-vue3-quasar-vite-firebase/FileContentIndex/c489b5a1-a948-4f01-8a20-dfbd2f13515d.vsidx
.vs/Dividis-vue3-quasar-vite-firebase/FileContentIndex/d7ad4511-3d8a-4ff7-a79d-4fd8eaedb457.vsidx
.firebase/hosting.ZGlzdFxzcGE.cache
.vs/Dividis-vue3-quasar-vite-firebase/v17/.wsuo
.firebase/hosting.ZGlzdFxzcGE.cache
