rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para los documentos de los usuarios
    match /usuarios/{userId}/datos/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para las declaraciones públicas
    match /declaracionesPublicas/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}

